[phases.setup]
nixPkgs = ['php84', 'php84Extensions.pdo', 'php84Extensions.pdo_mysql', 'php84Extensions.pdo_pgsql', 'php84Extensions.mbstring', 'php84Extensions.gd', 'php84Extensions.exif', 'php84Extensions.zip', 'php84Packages.composer', 'nodejs_20']

[phases.install]
cmds = [
  'composer install --no-dev --optimize-autoloader',
  'npm ci',
  'npm run prod'
]

[phases.build]
cmds = [
  'php artisan config:cache',
  'php artisan route:cache',
  'php artisan view:cache'
]

[start]
cmd = 'php artisan migrate:fresh --seed --force && php artisan storage:link && php artisan serve --host=0.0.0.0 --port=${PORT:-8080}'
