[phases.setup]
nixPkgs = ['php84', 'php84Extensions.pdo', 'php84Extensions.pdo_mysql', 'php84Extensions.pdo_pgsql', 'php84Extensions.mbstring', 'php84Extensions.gd', 'php84Extensions.exif', 'php84Extensions.zip', 'nginx']

[phases.install]
cmds = [
  'composer install --no-dev --optimize-autoloader',
  'npm ci',
  'npm run prod'
]

[phases.build]
cmds = [
  'php artisan config:cache',
  'php artisan route:cache',
  'php artisan view:cache'
]

[start]
cmd = 'php artisan migrate --force && php artisan storage:link && nginx -c /app/nginx.conf & php-fpm -F'
